body {
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 72px;
    margin-bottom: 0px;
    color: #006992;
}

strong {
    color: #006992;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: auto;
}

/* puesdo classes */

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
}

footer div{
    background-color: #006992;
    color: #ffffff;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}
.wrapper {
    width: 650px;
  }
  
  ul, ol {
      font-family: sans-serif;
      color: #006992;
  }

  /* section breaker */
  hr {
      width: 100%;
  }

  /* round image >> would like a circle */
  img {
      border-radius: 10px;
  }


/* LINKEDIN PSUEDO CODE*/

/* unvisited link */
a.linkedin:link {
    color:#1E90FF;
  }
/* visited link */
a.linkedin:visited {
    color:#00BFFF;
  }
/* mouse over link */
a.linkedin:hover {
    color:darkblue;
  }
/* selected link */
a.linkedin:active {
    color:#E0FFFF;
  }


/* GITHUB PSEUDO CODE*/

/* unvisited link */
  a.github:link {
    color:pink;
  }
/* visited link */
a.github:visited {
    color:RED;
  }
/* mouse over link */
a.github:hover {
    color:BLACK;
  }
/* selected link */
a.github:active {
    color:#84bf90;
  }

/* DESIGn WORK PSEUDO CODE*/

/* unvisited link */
a.design:link {
    color:pink;
  }
/* visited link */
a.design:visited {
    color:RED;
  }
/* mouse over link */
a.design:hover {
    color:BLACK;
  }
/* selected link */
a.design:active {
    color:#84bf90;
  }
